<!DOCTYPE html>
<html lang="en" data-theme="{{theme}}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link href="/public/favicon.ico" rel="icon" />
    <title>{%block title %}Axum OAuth{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    {% include "layouts/header.html" %}

    <!-- Content -->
    <main class="container">
        {% block content %} {% endblock %}
    </main>

    <!-- Footer -->
    {% include "layouts/footer.html" %}
</body>

</html>