{% extends "layouts/base.html" %}

<!-- Content -->
{% block content %}
<article>
  <header>
    <h2>Login</h2>
  </header>
  <div style="display: grid; gap: 1rem;">
      <a role="button" href="/api/auth/google/login" style="padding: 0.5rem 1rem;">
        <img alt="Google Logo" src="/public/images/google-logo.png" width="32" height="32" style="vertical-align: middle; margin-right: 0.5rem;" />
        Login with Google
      </a>
      <a role="button" href="/api/auth/github/login" style="padding: 0.5rem 1rem;">
        <img alt="Github Logo" src="/public/images/github-logo.png" width="32" height="32" style="vertical-align: middle; margin-right: 0.5rem;" />
        Login with Github
      </a>
      <a role="button" href="/api/auth/discord/login" style="padding: 0.5rem 1rem;">
        <img alt="Discord Logo" src="/public/images/discord-logo.png" width="32" height="32" style="vertical-align: middle; margin-right: 0.5rem;" />
        Login with Discord
      </a>
  </div>
</article>
{% endblock %}
